<div class="flex items-center justify-center w-full">
      <div class="rounded-xl border p-5 shadow-md w-9/12 bg-white">
        <div class="flex w-full items-center justify-between border-b pb-3">
          <div class="flex items-center space-x-2">
            <div class="text-lg font-bold text-slate-700">{{pin.location_name}}</div>
          </div>
          <div class="flex items-center space-x-2">
            <button id="add-trip"
            class="rounded-2xl border bg-neutral-100 px-3 py-1 text-xs font-semibold"
          >
            Add Trip
          </button>
            <button id="delete-pin"
            class="rounded-2xl border bg-neutral-100 px-3 py-1 text-xs font-semibold"
          >
            Delete Pin
          </button>
          </div>
        </div>
        {{#each trips}}
        <div class="rounded-xl border p-5 pt-2 pb-2 shadow-md bg-white mt-2">
        <div class="flex w-full items-center justify-between pb-1 pt-3">
            <div class="flex items-center space-x-2">
              <div class="text-xl font-bold text-slate-700">{{title}}</div>
            </div>
            <div class="flex items-center space-x-2">
              <button
                class="rounded-2xl border bg-neutral-100 px-3 py-1 text-xs font-semibold edit-trip-btn"
              >
              Edit Trip
              </button>
              <button
              class="rounded-2xl border bg-neutral-100 px-3 py-1 text-xs font-semibold delete-trip-btn"
            >
              Delete Trip
            </button>
            </div>
        </div>
        <div class="text-xs text-neutral-600 mb-2">
           {{date_start}} - {{date_end}}
        </div>
        <button
        class="rounded-2xl border bg-neutral-100 px-3 py-1 text-xs font-semibold add-list-btn"
      >
      Add List
      </button>
          <div class="mt-2 mb-4">
          <div class="text-sm text-neutral-600">
          </div>
          
          <div class="text-sm text-neutral-600 grid grid-cols-3 gap-2">
            {{#each journals}}
            <ul class="list-disc">
                <div class="text-lg font-semibold text-neutral-600">{{label}}        
                    <button
                    class="rounded-md border bg-neutral-100 px-2 text-xs font-semibold add-entry-btn"
                  >
                  +
                  </button>
                  </div>
                  {{#each content}}
                <li class="text-sm text-neutral-600 ml-5">{{entry}}</li>
                {{/each}}
            </ul> 
            {{/each}}
          </div>
        </div>
        </div>
        <form class="mt-2">
          <textarea rows="4" class="shadow-md block mb-2 p-4 w-full text-sm text-gray-900 rounded-lg border border-gray-100 focus:ring-blue-500 focus:border-blue-300" placeholder="Write your thoughts here..."></textarea>
          <button
            class="rounded-2xl border bg-neutral-100 px-3 py-1 text-xs font-semibold save-note-btn"
          >
          Save Note
          </button>
        </form>
        {{/each}}